# Dependencies
node_modules/

# Builds
/dist/
/build/
/.output/

# Vite/Turbo caches
/.vite/
/.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env
.env
.env.*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
